/* You can add global styles to this file, and also import other style files */
$basecolor: #00797d;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-label {
  margin-bottom: 0;
  font-size: 16px;
  color: #6e6e6e;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-bten {
  color: #fff;
  background-color: $basecolor;
  border-color: #00585a;
}

.btn-bten:hover {
  color: #fff;
  background-color: $basecolor;
  border-color: #004041;
}

.title {
  font-size: 24px;
  color: #00797d;
  text-transform: uppercase;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
  height: 100%;
  background-color: #edfffa;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}