<nav-bar></nav-bar>

<div class="page-content p-5" id="content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2>Usuários</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="formulario" (ngSubmit)="save(formulario.value)">
              <div class="row">
                <div class="col-12 mb-3">
                  <label for="name" class="custom-label">Nome</label>
                  <input type="text" class="form-control" id="name" formControlName="name"  [ngClass]="{'is-invalid' : isSubmitted && f.name.errors}">
                  <div class="invalid-feedback">Campo inválido</div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <label for="senha" class="custom-label">Senha</label>
                  <input type="password" class="form-control" id="password" formControlName="password"  [ngClass]="{'is-invalid' : isSubmitted && f.password.errors}">
                  <div class="invalid-feedback">Campo inválido</div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <label for="confPassword"  class="custom-label">Confirmação de senha</label>
                  <input type="password" class="form-control" id="confPassword" formControlName="confPassword"  [ngClass]="{'is-invalid' : isSubmitted && f.confPassword.errors}">
                  <div class="invalid-feedback">Campo inválido</div>
                </div>

                <div class="col-12 col-md-6 mb-3">
                  <label for="age" class="custom-label">Idade</label>
                  <input type="number" class="form-control" id="age" formControlName="age"  [ngClass]="{'is-invalid' : isSubmitted && f.age.errors}">
                  <div class="invalid-feedback">Campo inválido</div>
                </div>

                <div class="col-12 col-md-6 mb-3">
                  <label for="height" class=" custom-label">Altura</label>
                  <input type="number" class="form-control" id="height" formControlName="height"  [ngClass]="{'is-invalid' : isSubmitted && f.height.errors}">
                </div>

                <div class="col-12">
                  <button class="btn btn-primary btn-bten">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>