<div class="container w-100 h-100 d-flex flex-column justify-content-around  align-items-center">
  <div>
    <img class="logo" src="../../../assets/logo.png" alt="Logo">
  </div>
  <div class="card card-cadastro card-shadow">
    <div class="card-header title p-3">
      Cadastro
    </div>

    <div class="card-body px-5">
      <form [formGroup]="formulario" (ngSubmit)="save(formulario.value)">
        <div class="row">
          <div class="col-12 mb-3">
            <label class="custom-label" for="name">Nome</label>
            <input type="text" class="form-control" id="name" formControlName="name"
            [ngClass]="{'is-invalid' : isSubmitted && f.name.errors}">
          <div class="invalid-feedback">Campo inválido</div>
          </div>
  
          <div class="col-12 mb-3">
            <label class="custom-label" for="password">Senha</label>
            <input type="password" class="form-control" id="password" formControlName="password"
            [ngClass]="{'is-invalid' : isSubmitted && f.password.errors}">
          <div class="invalid-feedback">Campo inválido</div>
          </div>
  
          <div class="col-12 mb-3">
            <label class="custom-label" for="conf-senha">Confirmação de senha</label>
            <input type="password" class="form-control" id="conf-senha" formControlName="confPassword"
            [ngClass]="{'is-invalid' : isSubmitted && f.confPassword.errors}">
          <div class="invalid-feedback">Campo inválido</div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="custom-label" for="age">Idade</label>
            <input type="number" class="form-control" id="age"formControlName="age"
            [ngClass]="{'is-invalid' : isSubmitted && f.age.errors}">
          <div class="invalid-feedback">Campo inválido</div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="custom-label" for="height">Altura</label>
            <input type="number" class="form-control" id="height" formControlName="height"
            [ngClass]="{'is-invalid' : isSubmitted && f.height.errors}">
          <div class="invalid-feedback">Campo inválido</div>
          </div>
          <div class="col-12 d-flex justify-content-between align-items-center">
            <button class="btn btn-primary btn-bten">Cadastrar</button>
            <a href="/login">Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
